<head>
	<link rel='stylesheet' href='../stylesheets/public.css' />
	<title>jabys - the best card game</title>
	
	<script type="text/javascript">
		$().ready(function(){
			$('#join-game').live("click", function(e){
				e.preventDefault();
				document.location.href="lobby";
			});
			
			$('#learn-game').live("click", function(e){
				e.preventDefault();
				document.location.href="rules";
			});
			
		});
	</script>
</head>

<body>
	<div id="wrapper">
		<div id="wrapper-inner">
			
			<div class="heading" id="jabys">Jabys</div>
			
			<a href="#" class="btn" id="join-game">Play Me!</a>
			<a href="#" class="btn" id="learn-game">How to Play</a>
			
			<!-- <div id="fb-login" style="display:none;"><img src="/images/icon-fb.gif" />Log In with Facebook</div> -->
			
		</div>
	</div>
</body>