<head>
	<link rel='stylesheet' href='../stylesheets/public.css' />
	<title>jabys - the best card game</title>
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	
	<script type="text/javascript">
		$().ready(function(){
			
		});
	</script>
</head>

<body>
	<div id="wrapper">
		<div id="wrapper-inner">
			
			<div class="heading" id="jabys">Jabys</div>
			
			<a href="lobby" class="btn" id="join-game">Play Me!</a>
			<a href="rules" class="btn" id="learn-game">How to Play</a>
			
			<!-- <div id="fb-login" style="display:none;"><img src="/images/icon-fb.gif" />Log In with Facebook</div> -->
			
		</div>
	</div>
</body>