<head>
	<link rel='stylesheet' href='../stylesheets/public.css' />
	<title>javis - the best card game</title>
	
	<script type="text/javascript">
		$().ready(function(){
			$('#join-game').live("click", function(e){
				document.location.href="game";
			});
			
			$('#fb-login').live("click", function(e){
				document.location.href="auth/facebook";
			})
			
			$('#learn-game').live("click", function(e){
				document.location.href="rules";
			});
			
			
			$('#javis').fadeIn(1500);
			$('#fb-login').delay(2500).animate({"height": "show", "opacity": "show"});
			$('#learn-game').delay(3000).animate({"height": "show", "opacity": "show"});
		});
	</script>
</head>

<body>
	<div id="wrapper">
		<div id="wrapper-inner">
			
			<div class="heading" id="javis" style="display:none;">Javis</div>
			<div id="fb-login" style="display:none;"><img src="/images/icon-fb.gif" />Log In with Facebook</div>
			<div class="btn" id="learn-game" style="display:none;">Rules</div>
			
		</div>
	</div>
</body>