<head>
	<link rel='stylesheet' href='/stylesheets/public.css' />
	<title>javis - it's the best card game</title>
	
	<script type="text/javascript">
		$().ready(function(){
			$('#join-game').live("click", function(e){
				document.location.href="game";
			});
		});
	</script>
</head>

<body>
	<div id="wrapper">
		<div class="heading">Javis</div>
		<div class="btn" id="join-game">Play Me</div>
	</div>
</body>