<html>
<head>
	<script src="/javascripts/jquery.min.js" type=""></script>
	<script src="/javascripts/jquery.animate-colors.js"></script>
	<script src="/nowjs/now.js"></script>
	
</head>
<body>
	<%- body %>
</body>
</html>