#wrapper {
	position: relative;
	width: 1200px;
	height: 100%;
	margin: auto;
}

.black {
	color: black;
}

.red {
	color: #ff0000;
}

.card {
	background-image: url("/images/cardback/bicycle_blue.png");
	background-size: 100px 130px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #333333;
	position: absolute;
	font-size: 23px;
	width:  100px;
	height: 130px;
	-webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
	box-shadow: 2px 2px 2px rgba(0,0,0,.2);
}

.front {
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
	background-color: #ffffff;
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
}


.spotA1 { position: absolute; left: 0.7em; top: 0.4em; }
.spotA2 { position: absolute; left: 0.7em; top: 1.5em; }
.spotA3 { position: absolute; left: 0.7em; top: 2.1em; }
.spotA4 { position: absolute; left: 0.7em; top: 2.7em; }
.spotA5 { position: absolute; left: 0.7em; top: 3.8em; }
.spotB1 { position: absolute; left: 1.75em; top: 0.4em; }
.spotB2 { position: absolute; left: 1.75em; top: 0.8em; }
.spotB3 { position: absolute; left: 1.75em; top: 2.1em; }
.spotB4 { position: absolute; left: 1.75em; top: 3.4em; }
.spotB5 { position: absolute; left: 1.75em; top: 3.8em; }
.spotC1 { position: absolute; left: 2.8em; top: 0.4em; }
.spotC2 { position: absolute; left: 2.8em; top: 1.5em; }
.spotC3 { position: absolute; left: 2.8em; top: 2.1em; }
.spotC4 { position: absolute; left: 2.8em; top: 2.7em; }
.spotC5 { position: absolute; left: 2.8em; top: 3.8em; }

.horizontal {
	-webkit-transform:rotate(90deg);
	-o-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	-ms-transform:rotate(90deg);
}

.horizontal-left {
	-webkit-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
}

.ace {
	font-size: 250%;
	position: absolute;
	left: 0.45em;
	top:  0.350em;
}
.index {
	font-size: 53%;
	font-weight: bold;
	text-align: center;
	position: absolute;
	left: 0.25em;
	top:  0.25em;
}

.face {
	border: 1px solid #000000;
	position: absolute;
	left: 0.7em;
	top:  0.58em;
	width:  3.0em;
	height: 4.5em;
}


body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	color: #cccccc;
	background-image: url("/images/black-Linen.png");
}

.heading {
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
	padding: 5px;
	border-bottom: 3px solid #F5D453;
}

#game-board {
	margin-left: 100px;
	position: relative;
	width: 800px;
	height: 100%;
    outline: none !important; 
}

.slot {
	width: 520px;
	height: 100px;
}

#stage {
	border: 1px solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-width: 3 1 1 3;
	border-bottom-color: rgba(255,255,255,0.25);
	border-right-color: rgba(255,255,255,0.25);
	border-top-color: rgba(0,0,0,0.1);
	border-left-color: rgba(0,0,0,0.1);
	background-color: rgba(255,255,255,0.10);
	width: 535px;
	height: 200px;
	position: absolute;
	top: 180px;
	left: 100px;
}

#slot-middle {
	width: 300;
	height: 240;
	position: absolute;
}

#slot-discard {
	width: 250px;
	height: 240px;
	position: absolute;
	left: 320px;
}

#slot-bot-sc{
	position: absolute;
	width: 520px;
	top: 610px;
	left: 110px;
	font-size: 11px;
	font-weight: bold;
}

#slot-bot {
	position: absolute;
	top: 470px;
	left: 110px;
}

#slot-bot-container {
	top: 460px;
	left: 100px;
	border-width: 3 1 1 3;
	border-bottom-color: rgba(255,255,255,0.25);
	border-right-color: rgba(255,255,255,0.25);
	border-top-color: rgba(0,0,0,0.1);
	border-left-color: rgba(0,0,0,0.1);
}

#slot-top-container {
	top: 0px;
	left: 100px;
	border-width: 3 1 1 3;
	border-bottom-color: rgba(255,255,255,0.25);
	border-right-color: rgba(255,255,255,0.25);
	border-top-color: rgba(0,0,0,0.1);
	border-left-color: rgba(0,0,0,0.1);
}

#slot-left-container {
	top: 240px;
	left: -270px;
	border-width: 3 3 1 1;
	border-bottom-color: rgba(255,255,255,0.25);
	border-right-color: rgba(0,0,0,0.1);
	border-top-color: rgba(0,0,0,0.1);
	border-left-color: rgba(255,255,255,0.25);
}

#slot-right-container {
	top: 240px;
	left: 470px;
	border-width: 1 1 3 3;
	border-bottom-color: rgba(0,0,0,0.1);
	border-right-color: rgba(255,255,255,0.25);
	border-top-color: rgba(255,255,255,0.25);
	border-left-color: rgba(0,0,0,0.1);
}

.slot-container {
	border: 1px solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	width: 535px;
	height: 170px;
	background-color: rgba(255,255,255,0.10);
}

#slot-top {
/*	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;*/
	position: absolute;
	top: 30px;
	left: 110px;
}

#slot-left {
/*	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;*/
	position: absolute;
	top: 280px;
	left: -260px;
}

#slot-right {
/*	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #cccccc;*/
	position: absolute;
	top: 280px;
	left: 480px;
}

#slot-left-label {
	position: absolute;
	top: 320px;
	left: -325px;
}

#slot-right-label {
	position: absolute;
	top: 320px;
	left: 545px;
}

#slot-top-label {
	position: absolute;
	top: 05px;
	left: 110px;
}

#slot-bot-label {
	position: absolute;
	top: 610px;
	left: 110px;
}

.btn {
	color: black;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	border-right-color: #aaaaaa;
	border-bottom-color: #aaaaaa;
	position: absolute;
	padding: 10px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	background-color: #eeeeee;
}

/*E0EEE0*/

.btn:hover{
	border-top-color: #aaaaaa;
	border-left-color: #aaaaaa;
	border-right-color: #aaaaaa;
	border-bottom-color: #aaaaaa;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background-color: #eeeeee;
}

.btn:active{
    padding: 11px 10px 9px 10px; /* push text down 1px */
	background-color: #eeeeee;
}

#game-controls {
	position: absolute;
	top: 390px;
	left: 105px;
	width: 570px;
	height: 40px;
}

#wait-for-game, #auto-pass {
	color: black;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	border-right-color: #aaaaaa;
	border-bottom-color: #aaaaaa;
	position: absolute;
	padding: 10px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	background: #dddddd;
	left: 0px;
	top: 0px;
	margin: auto;
}

.game-feedback {
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	border-right-color: #aaaaaa;
	border-bottom-color: #aaaaaa;
	position: absolute;
	padding: 10px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	background: rgba(255,255,255,0.5);
	top: 0px;
	width: auto;
	margin: auto;
}

#game-error-message {
	left: 360px;
	color: #bb0000;
}

#game-jack-message {
	left: 200px;
	color: #00bb00;
}

#game-seven-message {
	left: 150px;
	color: #00bb00;
}

#game-ten-message {
	left: 150px;
	color: #00bb00;
}

#start-btn {
	left: 0px;
	top: 0px;
	background: #eeeeee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#787878));
	background: -moz-linear-gradient(top,  #eeeeee,  #787878);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#787878');
}

#start-btn:hover {
	background: #999999;
	background: -webkit-gradient(linear, left top, left bottom, from(#bbbbbb), to(#787878));
	background: -moz-linear-gradient(top,  #bbbbbb,  #787878);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbbbbb', endColorstr='#787878');
}

#start-btn:active {
	background: #666666;
	background: -webkit-gradient(linear, left top, left bottom, from(#787878), to(#bbbbbb));
	background: -moz-linear-gradient(top,  #787878,  #bbbbbb);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#787878', endColorstr='#bbbbbb');
}

#make-pass-move-btn {
	left: 120px;
	top: 0px;
	background: #E0EEE0;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFE4E1), to(#FFCCCC));
	background: -moz-linear-gradient(top,  #FFE4E1,  #FFCCCC);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE4E1', endColorstr='#FFCCCC');
}

#make-pass-move-btn:hover {
	background: #E0EEE0;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFE4E1), to(#F08080));
	background: -moz-linear-gradient(top,  #FFE4E1,  #F08080);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFE4E1', endColorstr='#F08080');
}

#make-pass-move-btn:active {
	background: #E0EEE0;
	background: -webkit-gradient(linear, left top, left bottom, from(#F08080), to(#FFE4E1));
	background: -moz-linear-gradient(top,  #F08080,  #FFE4E1);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#F08080', endColorstr='#FFE4E1');
}

#make-move-btn {
	left: 0px;
	top: 0px;
	background: #E0EEE0;
	background: -webkit-gradient(linear, left top, left bottom, from(#E0EEE0), to(#CCFFCC));
	background: -moz-linear-gradient(top,  #E0EEE0,  #CCFFCC);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0EEE0', endColorstr='#CCFFCC');
}

#make-move-btn:hover {
	left: 0px;
	top: 0px;
	background: #E0EEE0;
	background: -webkit-gradient(linear, left top, left bottom, from(#E0EEE0), to(#93DB70));
	background: -moz-linear-gradient(top,  #E0EEE0,  #93DB70);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0EEE0', endColorstr='#93DB70');
}

#make-move-btn:active {
	left: 0px;
	top: 0px;
	background: #93DB70;
	background: -webkit-gradient(linear, left top, left bottom, from(#93DB70), to(#E0EEE0));
	background: -moz-linear-gradient(top,  #93DB70,  #E0EEE0);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#93DB70', endColorstr='#E0EEE0');
}

.players, .observers, .game-status {
	position: relative;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 10px;
}

li {
	padding: 5px;
}

#sidebar {
	font-size: 12px;
	width: 250px;
	height: 576px;
	position: absolute;
/*	margin-left: 10px;*/
	top: 20px;
	right: 0px;
/*	background-color: rgba(250, 238, 217, 0.7);*/
	background-color: rgba(255,255,255,0.2);
	max-height: 576px;
/*	border: 1px solid;*/
	-moz-border-radius: 5px;
	border-radius: 5px;
/*	border-width: 3 0 0 3;
	border-bottom-color: rgba(255,255,255,0.25);
	border-right-color: rgba(255,255,255,0.25);
	border-top-color: rgba(0,0,0,0.1);
	border-left-color: rgba(0,0,0,0.1);*/
/*	background-color: rgba(255,255,255,0.10);*/
}

#scoreboard {
	font-size: 12px;
	float: right;
	width: 250px;
	position: fixed;
	right: 0px;
	top: 0px;
/*	border-left: 1px solid #333333;*/
/*	border-top: 1px solid #333333;*/
	background-color: #eeeeee;
}

#chat-header {
}

.sb-header {
	color: #ffffff;
	text-shadow: 0px -1px 1px #666666;
/*	cursor: pointer;*/
	font-size: 14px;
	padding: 10px;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	background-color: #9489B0;
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#9889B9));
	background: -moz-linear-gradient(top,  #eeeeee,  #9489B0);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#9489B0');
}

#chat-messages, #clients-list {
	height: 502px;
	overflow: auto;
	overflow-x: hidden;
	color: black;
}

#rules {
	color: black;
	padding: 10px;
	overflow: auto;
	overflow-x: hidden; 
	background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#9889B9));
	background: -moz-linear-gradient(top,  #eeeeee,  #9489B0);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#9489B0');
/*	border-bottom: 1px solid black;*/
}

/*#chat-message{
	padding: 2px;
	display: block;
}*/

.chat-message:nth-child(even), .score:nth-child(even) {
	padding: 5 5 5 10;
	background-color: rgba(204,224,200,0.8);
}

.chat-message:nth-child(odd), .score:nth-child(odd) {
	padding: 5 5 5 10px;
	background-color: rgba(255,255,255,0.8);

}


.player-name{
	text-align: center;
	width: 520px;
}

.active{
	color: #000000;
}

.passive{
	color: #1E2641;
	font-style: italic;
}

.tipsy-stats {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 5px;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFEFD5), to(#ffffff));
	background: -moz-linear-gradient(top,  #FFEFD5,  #ffffff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEFD5', endColorstr='#ffffff');
}

.stats-heading {
	font-size: 14px;
	padding: 3px;
	font-weight: bold;
}

.stats-block {
/*	padding: 3px;*/
}

.stats-main {
	padding: 5 0 5 0;
}

.stats-title {
	font-weight: bold;
}

.stats-extra {
}

.stats-sub {
/*	padding: 1px;*/
}

.chat-bar-button {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 35px;
	height: 35;
	border-right: 1px solid #dddddd;
	cursor: pointer;	
	border-bottom-left-radius: 5px;

}

.chat-bar-button:hover {
	background-color: rgba(255,255,255,0.5);	
	
}

.input-box {
	position: absolute;
	width: 214px;
	left: 36px;
}

#chat-bar{
	border-top: 1px solid #dddddd;
	position: relative;
	height: 35px;
	width: 250px;
	bottom: 0;
	left: 0;
/*	padding: 3px;*/
/*	background-color: rgba(255,255,255,0.1);	*/
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #999999;
	background: -webkit-gradient(linear, left top, left bottom, from(#9489B0), to(#dedede));
	background: -moz-linear-gradient(top,  #9489B0,  #dedede);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#9489B0', endColorstr='#dedede');
}

#chat-submit {
	padding: 3px 3px 3px 6px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	top: 5px;
	left: 5px;
	margin: auto;
	width: 95%;
/*	height: 100%;*/
}

#clients-search {
	padding: 3px 3px 3px 6px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	top: 5px;
	left: 90px;
	margin: auto;
	width: 120px;
}

#nickname-submit {
	padding: 3px 3px 3px 6px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: absolute;
	top: 5px;
	left: 5px;
	margin: auto;
	width: 80px;
}


#chat-header .chat-icon {
	position: absolute;
	left: 48px;
}

#clients-header .clients-icon {
	position: absolute;
	left: 63px;
}

#chat-bar .clients-icon {
	margin: 7 7 7 7;
}

#chat-bar .chat-icon {
	margin: 7 7 7 7;
}

#chat-header .lobby-icon, #clients-header .lobby-icon {
	position: absolute;
	left: 225px;
	cursor: pointer;
}

#chat-header .rules-icon, #clients-header .rules-icon {
	position: absolute;
	left: 200px;
	cursor: pointer;
}


.chat-message > .name {
	font-weight: bold;
/*	text-shadow: 0px -1px 1px #aaaaaa;*/
}

#card_options {
	width: 150px;
	height: 50px;
	margin: 0 0 0 -80px;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
}

#card_options img{
	display: inline;
	width: 20px;
	height: 30px;
}