#wrapper {
	width: 100%;
	height: 100%;
    margin: auto;
}

#wrapper-inner {
	position: relative;
	top: 30%;
}

body {
/*	background-image: url("/images/bg1.png");*/
	background-color: black;
	font: 15px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited{
	text-decoration: none;
	padding: 10px;
	color: #00B7FF;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-transition: background-color .7s linear;  
    -moz-transition: background-color .7s linear;  
    -o-transition: background-color .7s linear;
}

a:hover {
	color: #00B7FF;
	text-decoration: none;
	padding: 10px;
}

.heading{
	font-size: 70px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 20 0;
}

#javis{
	color: rgba(255,155,255,0.8);
	text-shadow: 0px 0px 70px rgba(255, 231, 0, 1);
}

.btn {
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	text-transform: uppercase;
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.5);
}

.btn:hover{
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.btn:active{
    padding: 11px 10px 9px 10px; /* push text down 1px */
}

#join-game, #learn-game {
	width: 100px;
	background: #E0FFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#E0FFFF), to(#97FFFF));
	background: -moz-linear-gradient(top,  #E0FFFF,  #97FFFF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0FFFF', endColorstr='#97FFFF');
	margin: auto;
	margin-bottom: 20px;
}

#join-game:hover, #learn-game:hover{
	background: #05EDFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#E0FFFF), to(#05EDFF));
	background: -moz-linear-gradient(top,  #E0FFFF,  #05EDFF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0FFFF', endColorstr='#05EDFF');
}

#join-game:active, #learn-game:active {
	background: #E0FFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#05EDFF), to(#E0FFFF));
	background: -moz-linear-gradient(top,  #05EDFF,  #E0FFFF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#05EDFF', endColorstr='#E0FFFF');
}

.rules {
	position: relative;
}

.current-games {
	position: relative;
	margin: 10px;
}