#wrapper {
	width: 100%;
	height: 100%;
    margin: auto;
}

#wrapper-inner {
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #666;
	padding-top: 30px;
	margin: auto;
}

body {
	padding: 5px 0;
	margin: 0;
/*	background-image: url("/images/retina_dust.png");*/
/*	background-color: black;*/
	background-image: url("/images/diamond_upholstery.png");
	
/*	background-color: #F2F2F2;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(#FAFAFA, #F2F2F2);
	background-image: -ms-linear-gradient(top, #FAFAFA, #F2F2F2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#FAFAFA), to(#F2F2F2));
	background-image: -webkit-linear-gradient(#FAFAFA, #F2F2F2);
	background-image: linear-gradient(top, #FAFAFA, #F2F2F2);*/
	font: 15px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}


#jabys{
	font: 70px "Times New Roman", "Times";
	text-shadow: 0px 1px 0 #ccc;
/*	font-size: 70px;*/
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

a.btn {
	text-decoration: none;
	padding: 10px;
	display: block;
	margin: 40px auto;
	text-align: center;
	color: #fff;
	width: 100px;
}

.btn {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	-moz-box-shadow: inset 0 1px 0 #4a81a3,inset 1px 0 0 #4a81a3,inset -1px 0 0 #4a81a3,inset 0 -1px 0 #4a81a3,inset 0 2px 0 rgba(255, 255, 255, 0.3),inset 0 0 4px rgba(255, 255, 255, 0.3),0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 0 #4A81A3,inset 1px 0 0 #4A81A3,inset -1px 0 0 #4A81A3,inset 0 -1px 0 #4A81A3,inset 0 2px 0 rgba(255, 255, 255, 0.3),inset 0 0 4px rgba(255, 255, 255, 0.3),0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 0 #4A81A3,inset 1px 0 0 #4A81A3,inset -1px 0 0 #4A81A3,inset 0 -1px 0 #4A81A3,inset 0 2px 0 rgba(255, 255, 255, 0.3),inset 0 0 4px rgba(255, 255, 255, 0.3),0 1px 2px rgba(0, 0, 0, 0.3);

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
	
	background-color: #5A95BD;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(#83B6D1, #5A95BD);
	background-image: -ms-linear-gradient(top, #83B6D1, #5A95BD);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#83B6D1), to(#5A95BD));
	background-image: -webkit-linear-gradient(#83B6D1, #5A95BD);
	background-image: linear-gradient(top, #83B6D1, #5A95BD);
}

.btn:hover{
	background-color: #4E87B1;
	background-repeat: no-repeat;
	background-image: -moz-linear-gradient(#71ACC9, #4E87B1);
	background-image: -ms-linear-gradient(top, #71ACC9, #4E87B1);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#71ACC9), to(#4E87B1));
	background-image: -webkit-linear-gradient(#71ACC9, #4E87B1);
	background-image: linear-gradient(top, #71ACC9, #4E87B1);
}

.btn:active{
	moz-box-shadow: inset 0 1px 0 rgba(10, 10, 10, 0.5),inset 1px 0 0 rgba(10, 10, 10, 0.3),inset -1px 0 0 rgba(10, 10, 10, 0.4),inset 0 -1px 0 rgba(10, 10, 10, 0.5),inset 0 1px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.3);
	-webkit-box-shadow: inset 0 1px 0 rgba(10, 10, 10, 0.5),inset 1px 0 0 rgba(10, 10, 10, 0.3),inset -1px 0 0 rgba(10, 10, 10, 0.4),inset 0 -1px 0 rgba(10, 10, 10, 0.5),inset 0 1px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.3);
	box-shadow: inset 0 1px 0 rgba(10, 10, 10, 0.5),inset 1px 0 0 rgba(10, 10, 10, 0.3),inset -1px 0 0 rgba(10, 10, 10, 0.4),inset 0 -1px 0 rgba(10, 10, 10, 0.5),inset 0 1px 5px rgba(0, 0, 0, 0.3),0 1px 0 rgba(255, 255, 255, 0.3);
}


.rules {
	position: relative;
}

.current-games {
	position: relative;
	margin: 10px;
}

#fb-login {
	width: 200px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #eeeeee;
	text-shadow: 0px -1px 0 #999999;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,0.25),0 0 0 1px #26466D,0 3px 2px rgba(0,0,0,0.25);
	background: #5E76AB;
	background: -webkit-gradient(linear, left top, left bottom, from(#5E76AB), to(#2D4B8C));
	background: -moz-linear-gradient(top,  #5E76AB,  #2D4B8C);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5E76AB', endColorstr='#2D4B8C');
	cursor: pointer;
}

img {
	position: relative;
	padding-right: 5px;
	top: 2px;
}

#alternate-login-text {
	font-weight: bold;
	font-size: 28px;
	color: white;
	text-align: center;
	padding-bottom: 20px;
}