#wrapper {
	width: 100%;
	height: 100%;
    margin: auto;
}

#wrapper-inner {
	position: relative;
	top: 25%;
}

body {
	background-image: url("/images/black-Linen.png");
/*	background-color: black;*/
	font: 15px "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
}

.heading{
	font-size: 70px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin: 0 0 20 0;
}

#jabys{
	color: rgba(255,155,255,0.8);
	text-shadow: 0px 0px 70px rgba(255, 231, 0, 1);
}

.btn {
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
/*	text-transform: uppercase;*/
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
	text-shadow: 0px 1px 0 rgba(255, 255, 255, 0.5);
}

.btn:hover{
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.btn:active{
    padding: 11px 10px 9px 10px; /* push text down 1px */
}

#join-game, #learn-game {
	width: 100px;
	background: #E0FFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#E0FFFF), to(#97FFFF));
	background: -moz-linear-gradient(top,  #E0FFFF,  #97FFFF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0FFFF', endColorstr='#97FFFF');
	margin: auto;
	margin-bottom: 20px;
}

#join-game:hover, #learn-game:hover{
	background: #05EDFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#E0FFFF), to(#05EDFF));
	background: -moz-linear-gradient(top,  #E0FFFF,  #05EDFF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E0FFFF', endColorstr='#05EDFF');
}

#join-game:active, #learn-game:active {
	background: #E0FFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#05EDFF), to(#E0FFFF));
	background: -moz-linear-gradient(top,  #05EDFF,  #E0FFFF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#05EDFF', endColorstr='#E0FFFF');
}

.rules {
	position: relative;
}

.current-games {
	position: relative;
	margin: 10px;
}

#fb-login {
	width: 200px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #eeeeee;
	text-shadow: 0px -1px 0 #999999;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.5),0 1px 0 rgba(0,0,0,0.25),0 0 0 1px #26466D,0 3px 2px rgba(0,0,0,0.25);
	background: #5E76AB;
	background: -webkit-gradient(linear, left top, left bottom, from(#5E76AB), to(#2D4B8C));
	background: -moz-linear-gradient(top,  #5E76AB,  #2D4B8C);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5E76AB', endColorstr='#2D4B8C');
	cursor: pointer;
}

#fb-login:hover {
	color: #bbbbbb;
	background: #5E76AB;
	background: -webkit-gradient(linear, left top, left bottom, from(#5E76AB), to(#2D4B8C));
	background: -moz-linear-gradient(top,  #5E76AB,  #2D4B8C);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5E76AB', endColorstr='#2D4B8C');
}

#fb-login:active {
	background: #2D4B8C;
	background: -webkit-gradient(linear, left top, left bottom, from(#2D4B8C), to(#5E76AB));
	background: -moz-linear-gradient(top,  #2D4B8C,  #5E76AB);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#2D4B8C', endColorstr='#5E76AB');
}

img {
	position: relative;
	padding-right: 5px;
	top: 2px;
}

#alternate-login-text {
	font-weight: bold;
	font-size: 28px;
	color: white;
	text-align: center;
	padding-bottom: 20px;
}